*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.div{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
}

.box{
    background-color: rgb(25, 182, 255);
    border-radius: 1px solid red;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.box:hover{
    background-color: rgb(21, 146, 204);
}