*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.div{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
}

.box{
    background-color: rgb(10, 188, 242); 
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}



#result{
    background-color: antiquewhite;
    height: 50px;
    width: 27vw;
    margin-top: 20px;
    text-align: center;
}